body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 2em;
}

h1 a {
  display: none;
}

h2 {
  margin-top: 2em;
  margin-left: -1em;
}

blockquote {
  font-style: italic;
  background-color: #EEE;
  padding: 0.5em;
  margin-left: 1em;
}
blockquote * {
  margin: 0;
}

body > ul {
  padding: 0;
  color: #BBC;
}
body > ul > li {
  display: inline;
  margin-right: 1em;
  font-size: small;
}

/* linkable */

h2 a.linkable,
h3 a.linkable {
  text-decoration: none;
}

h2 a.linkable span,
h3 a.linkable span {
  color: transparent;
}

h2:hover a.linkable span,
h3:hover a.linkable span {
  color: lightgray;
}
h2 a.linkable span:hover,
h3 a.linkable span:hover {
  color: red;
}

